USE [master]
GO
/****** Object:  Database [PETCARE]    Script Date: 12-Jan-18 11:50:20 PM ******/
CREATE DATABASE [PETCARE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PETCARE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PETCARE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PETCARE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PETCARE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PETCARE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PETCARE]
GO
USE [PETCARE]
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 12-Jan-18 11:50:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MADT] [nvarchar](20) NOT NULL,
	[MAKH] [nvarchar](20) NULL,
	[MATC] [nvarchar](20) NULL,
	[MAKB] [nvarchar](20) NULL,
	[MATH] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[NKDON] [date] NULL,
 CONSTRAINT [PK__DONTHUOC__603F005B8F149B23] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](20) NOT NULL,
	[TENKH] [nvarchar](20) NULL,
	[GTINH] [nvarchar](20) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CMND] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHAMBENH]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHAMBENH](
	[MAKB] [nvarchar](20) NOT NULL,
	[MABS] [nvarchar](20) NULL,
	[MATC] [nvarchar](20) NULL,
	[TCHUNG] [nvarchar](100) NULL,
	[DTRI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](20) NOT NULL,
	[TENNV] [nvarchar](20) NULL,
	[GTINH] [nvarchar](20) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CMND] [nvarchar](20) NULL,
	[CVU] [nvarchar](20) NULL,
	[NMK] [int] NULL,
	[CV] [int] NULL,
	[PW] [nvarchar](20) NULL,
 CONSTRAINT [PK__NHANVIEN__603F51149427199D] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MATT] [nvarchar](20) NOT NULL,
	[MAYT] [nvarchar](20) NULL,
	[MAKH] [nvarchar](20) NULL,
	[NTTOAN] [date] NULL,
	[TTIEN] [float] NULL,
 CONSTRAINT [PK__THANHTOA__6023720F75E6B1EB] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCUNG]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCUNG](
	[MATC] [nvarchar](20) NOT NULL,
	[MAKH] [nvarchar](20) NULL,
	[TENTC] [nvarchar](20) NULL,
	[TUOI] [int] NULL,
	[CLOAI] [nvarchar](20) NULL,
	[TTRANG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 12-Jan-18 11:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATH] [nvarchar](20) NOT NULL,
	[TENTH] [nvarchar](20) NULL,
	[GIA] [float] NULL,
	[HSD] [date] NULL,
	[CDUNG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DONTHUOC] ([MADT], [MAKH], [MATC], [MAKB], [MATH], [SOLUONG], [NKDON]) VALUES (N'001', N'001', N'001', N'001', N'001', 10, CAST(N'2004-02-04' AS Date))
INSERT [dbo].[DONTHUOC] ([MADT], [MAKH], [MATC], [MAKB], [MATH], [SOLUONG], [NKDON]) VALUES (N'002', N'002', N'018', N'010', N'001', 1, CAST(N'1998-04-06' AS Date))
INSERT [dbo].[DONTHUOC] ([MADT], [MAKH], [MATC], [MAKB], [MATH], [SOLUONG], [NKDON]) VALUES (N'080', N'001', N'005', N'090', N'001', 23, CAST(N'2000-05-04' AS Date))
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GTINH], [DCHI], [SDT], [EMAIL], [CMND], [SOLUONG]) VALUES (N'001', N'HỒ TÔN HIẾN', N'NAM', N'HÀ NỘI', N'01664285021', N'buinhungoc97@gmail.com', N'2122785021', 15)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GTINH], [DCHI], [SDT], [EMAIL], [CMND], [SOLUONG]) VALUES (N'002', N'bùi lâm', N'nam', N'34252 la tạ', N'02404545', N'hitbuy@gmail.com', N'65', 353443)
INSERT [dbo].[KHAMBENH] ([MAKB], [MABS], [MATC], [TCHUNG], [DTRI]) VALUES (N'001', N'001', N'001', N'THÍCH C?N NGU?I', N'R? MÕM + THU?C NG?')
INSERT [dbo].[KHAMBENH] ([MAKB], [MABS], [MATC], [TCHUNG], [DTRI]) VALUES (N'003', N'003', N'018', N'ngu ngu', N'đánh đít')
INSERT [dbo].[KHAMBENH] ([MAKB], [MABS], [MATC], [TCHUNG], [DTRI]) VALUES (N'004', N'003', N'023', N'huhu', N'cóp đit')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GTINH], [DCHI], [SDT], [EMAIL], [CMND], [CVU], [NMK], [CV], [PW]) VALUES (N'001', N'TRẦN HÀ NHÂN', N'NAM', N'HÀ NỘI', N'01532856778', N'tranhanhan67@gmail.com', N'034567823566', N'BÁC SỸ', 1, 1, N'thn')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GTINH], [DCHI], [SDT], [EMAIL], [CMND], [CVU], [NMK], [CV], [PW]) VALUES (N'002', N'TRẦN VĂN TIẾN', N'NAM', N'HÀ NỘI', N'01536724558', N'tranvantien78@gmail.com', N'034557744332', N'Y TÁ', 1, 2, N'tvt')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GTINH], [DCHI], [SDT], [EMAIL], [CMND], [CVU], [NMK], [CV], [PW]) VALUES (N'003', N'HUỲNH THỊ HOÀI', N'NỮ', N'HÀ NỘI', N'56738475277592', N'huynhthihoai90@gmail.com', N'99736453566', N'QUẢN LÝ', 1, 0, N'hth')
INSERT [dbo].[THANHTOAN] ([MATT], [MAYT], [MAKH], [NTTOAN], [TTIEN]) VALUES (N'001', N'002', N'001', CAST(N'2017-02-06' AS Date), 1234500)
INSERT [dbo].[THUCUNG] ([MATC], [MAKH], [TENTC], [TUOI], [CLOAI], [TTRANG]) VALUES (N'001', N'001', N'CHÓ', 1, N'DEN', N'GÃY CHÂN')
INSERT [dbo].[THUCUNG] ([MATC], [MAKH], [TENTC], [TUOI], [CLOAI], [TTRANG]) VALUES (N'002', N'001', N'heo', 2, N'trắng', N'méo miệng')
INSERT [dbo].[THUCUNG] ([MATC], [MAKH], [TENTC], [TUOI], [CLOAI], [TTRANG]) VALUES (N'003', N'001', N'ga', 3, N'TRẰN', N'lên dĩa')
INSERT [dbo].[THUOC] ([MATH], [TENTH], [GIA], [HSD], [CDUNG]) VALUES (N'001', N'ASULIN', 30000, CAST(N'2018-05-08' AS Date), N'GIỐNG THUỐC CHUỘT')
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [DONTHUOC_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [DONTHUOC_KHACHHANG]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [DONTHUOC_KHAMBENH] FOREIGN KEY([MAKB])
REFERENCES [dbo].[KHAMBENH] ([MAKB])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [DONTHUOC_KHAMBENH]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [DONTHUOC_THUCUNG] FOREIGN KEY([MATC])
REFERENCES [dbo].[THUCUNG] ([MATC])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [DONTHUOC_THUCUNG]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [DONTHUOC_THUOC] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUOC] ([MATH])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [DONTHUOC_THUOC]
GO
ALTER TABLE [dbo].[KHAMBENH]  WITH CHECK ADD  CONSTRAINT [KHAMBENH_NHANVIEN] FOREIGN KEY([MABS])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHAMBENH] CHECK CONSTRAINT [KHAMBENH_NHANVIEN]
GO
ALTER TABLE [dbo].[KHAMBENH]  WITH CHECK ADD  CONSTRAINT [KHAMBENH_THUCUNG] FOREIGN KEY([MATC])
REFERENCES [dbo].[THUCUNG] ([MATC])
GO
ALTER TABLE [dbo].[KHAMBENH] CHECK CONSTRAINT [KHAMBENH_THUCUNG]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [THANHTOAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [THANHTOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [THANHTOAN_NHANVIEN] FOREIGN KEY([MAYT])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [THANHTOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[THUCUNG]  WITH CHECK ADD  CONSTRAINT [THUCUNG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THUCUNG] CHECK CONSTRAINT [THUCUNG_KHACHHANG]
GO
USE [master]
GO
